@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h1 class="text-center">Contact Us</h1>
        <p>
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
        </p>
    </div>
</section>
<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h1 class="text-center">Contact Us</h1>
        <p>
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
        </p>
    </div>
</section>
<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h1 class="text-center">Contact Us</h1>
        <p>
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
            Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction. Feel free to cusomise this template to your satisfaction.
        </p>
    </div>
</section>
